body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.form{
    
    height: 400px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    margin-top: 85px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    border: 5px solid rgb(143, 121, 240);



}

.form:hover{
    border-color: rgb(223, 21, 162);

}

.con{
    margin-top: 40px;

}

.email, .password {
    margin-top: 10px;
    border-radius: 15px;
    height: 25px;
    width: 200px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}


.pass{
    margin-top: 30px;
}

.submit{
    margin-top: 30px;
    height: 30px;
    width:200px;
    border-radius: 15px;
    background-color: rgb(197, 185, 185);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    
}
.submit:hover{
    transform: scale(1.1);
    transition: .5s;
    background-color: rgb(126, 110, 219);
    color: white;

}

.signup{

    height: 30px;
    width:200px;
    border-radius: 15px;
    background-color: rgb(197, 185, 185);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
}
.signup:hover{
    transform: scale(1.1);
    transition: .5s;
    background-color: rgb(126, 110, 219);
    color: white;

}
